
# Folder for sequential CoTs and rewritten parallel CoTs
SFT_DATASET_FOLDER=sft_dataset_folder
SFT_REWRITE_RESULTS_FILENAME=claude_parallel_rewrite_dataset.jsonl
DSR_COT_FILENAME=deepscaler_sequential_cot_responses.jsonl

# Google Cloud info for creating parallel CoTs
CLAUDE_PROJECT_ID=gcp_project
CLAUDE_LOCATION=us-east5

# SFT Experiment Arguments
HUGGINGFACE_HUB_CACHE=huggingface/hub
HF_DATASETS_CACHE=huggingface/datasets
WANDB_CACHE_DIR=wandb/cache
MAIN_OUTPUT_DIR=main_output_dir
SFT_WANDB_PROJECT=parallel_sft_project
SFT_RUN_NAME=parallel_sft_run

# RL Experiment Arguments
RL_PARQUET_DATASETS=rl_parquet_datasets
RL_WANDB_PROJECT=dc_cot_main_run
RL_STAGE1_NAME=dc_cot_stage_1
RL_STAGE2_PART1_NAME=dc_cot_stage_2_part_1
RL_STAGE2_PART2_NAME=dc_cot_stage_2_part_2
RL_STAGE3_NAME=dc_cot_stage_3
RL_STAGE4_NAME=dc_cot_stage_4

# HLP Arguments
HLP_WANDB_PROJECT=hlp_runs
DSR_HLP_12K_RUN_NAME=dsr_hlp_12k
DSR_HLP_24K_RUN_NAME=dsr_hlp_24k
DC_COT_HLP_RUN_NAME=dc_cot_hlp